.container {
    max-width: 100% !important;
    height: auto;
    padding-inline: 62px;
}

.container__recipe {
    max-width: 1024px;
    margin: 40px 0 113px;
    height: 100%;
}

.container__recipe-content {
    max-width: 916px;
    min-height: 850px;
    margin-bottom: 56px;
}

.container__recipe-title {
    margin-bottom: 30px;
    font-size: 48px;
    color: var(--color-text);
    white-space: normal;
}

.container__recipe-details {
    width: 100%;
    height: 78px;
    padding-inline: 25px;
}

.container__title {
    font-size: 20px;
    color: var(--color-black);
}

.container__recipe-time {
    width: auto;
}

.container__kitchen-title,
.container__time {
    font-size: 16px;
}

.container__details {
    padding-right: 25px;
}

.container__recipe-nutrients {
    width: 100%;
    height: 134px;
    gap: 25px;
    padding-left: 25px;
}

.container__nutrient-card {
    width: 130px;
    height: 100px;
    border-radius: 10px;
    background-color: var(--color-btn);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.container__nutrient-card:hover {
    transform: scale(1.1);
}

.container__nutrient {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    margin: 5px 0;
}

.container__value {
    background-color: var(--color-white);
    border-radius: 10px;
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__value >p {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

.container__calories,
.container__proteins,
.container__fats,
.container__carbohydrates {
    font-size: 19px;
    font-weight: 700;
}

.container__btn {
    background: none;
    cursor: pointer;
    width: 100px;
    height: 90px;
    overflow-y: hidden;
}

.container__ingredients {
    width: 100%;
    min-height: auto;
    margin-bottom: 80px;
}

.container__ingredients-content {
    height: 100%;
    width: 988px;
}

.container__ingredients-title {
    font-size: 36px;
    color: var(--color-black);
    margin-bottom: 32px;
}

.container__ingredients-cards {
    gap: 32px 24px;
    padding-bottom: 15px;
}

.container__ingredients-card {
    width: 178.5px;
    min-height: 213px;
    background-color: var(--color-ingredient);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px var(--color-shadow-category);
}

.container__ingredient {
    font-size: 19px;
    font-weight: 600;
    color: var(--color-black);
    text-align: center;
    margin-top: 15px;
    padding-inline: 5px;
}

.container__instructions {
    height: auto;
}

.container__instructions-title {
    font-size: 36px;
    color: var(--color-black);
    margin-bottom: 32px;
}

.container__instructions-text {
    font-size: 34px;
}

.container__ingredient-name {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: var(--color-text);
    font-weight: 500;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    box-sizing: border-box;
    height: auto;
}

.container__ingredient-name::first-letter {
    text-transform: capitalize;
}