@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-primary: "Raleway", sans-serif;
    --font-second: "Inter", sans-serif;
    --color-header: #DAE2B6;
    --color-btn: #FFE17B;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-header-text: #606C5D;
    --color-background: #FFF9F9;
    --color-text: #363636;
    --color-heart: #FF0000;
    --color-category: #F4EAD5;
    --color-shadow-category: rgb(0, 0, 0, 25%);
    --color-shadow-recipe: rgb(54, 54, 54, 10%);
    --color-text-shadow: #7c7b7b;
    --color-ingredient: #FFFCFC;
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    font-family: var(--font-primary);
    width: 100%;
    height: auto;
    background-color: var(--color-background);
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

img {
    pointer-events: none;
}

.header {
    height: 80px;
    margin-bottom: 34px;
    background-color: var(--color-header);
    padding-inline: 90px;
}

.header__text {
    color: var(--color-header-text);
    font-size: 22px;
}

.header__navbar a {
    text-decoration: none;
    color: var(--color-background);
    font-size: 26px;
    margin-left: 20px;
    font-weight: 700;
}

.header__navbar a:hover,
.header__navbar a.active {
    color: var(--color-header-text);
    border-bottom: 3px solid var(--color-header-text);
}

.header__menu {
    display: none;
    width: 50px;
    height: 40px;
    cursor: pointer;
    overflow-y: hidden;
    padding: 3px;
    cursor: pointer;
}

.header__bar {
    height: 8px;
    width: 100%;
    background-color: var(--color-header-text);
    display: block;
    transition: 0.3s ease;
}
  
.bar2 {
    transform: translateY(5px);
}
  
.bar3 {
    transform: translateY(10px);
}

.change {
    display: block;
}
  
.change .header__bar {
    overflow-y: hidden;
}
  
.change .bar1 {
    transform: translateY(15px) rotateZ(-45deg);
}
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    transform: translateY(-1px) rotateZ(45deg);
}

.menu-links {
    top: 80px;
    right: 10px;
    width: 150px;
    z-index: 4;
    background: var(--color-background);
    border-radius: 5px;
}

.btn-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-header-text);
}

.btn-link:hover,
.btn-link.active {
    color: var(--color-text);
    text-decoration: underline;
}

.recipes__category,
.container__type-kitchen,
.container__recipe-time {
    min-width: 94px;
    height: 32px;
    background-color: var(--color-btn);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px var(--color-shadow-category);
    margin: 0 3px 5px;
    padding-inline: 5px;
}

.recipes__category-title,
.container__kitchen-title,
.container__time {
    font-size: 12px;
    font-weight: 600;
    color: #363636;
}

.bxs-heart {
    font-size: 75px;
    color: var(--color-white);
    -webkit-text-stroke: 2px var(--color-black);
    transition: color 0.5s ease, -webkit-text-stroke 0.5s ease;
}

.bxs-heart.spin {
    animation: spinAndScale 1s ease;
}

@keyframes spinAndScale {
    0% {
        transform: rotate(0deg) scale(1.2);
    }
    50% {
        color: var(--color-heart);
        transform: rotate(180deg) scale(1.2);
        -webkit-text-stroke: 0px; 
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

.bxs-heart.active {
    color: var(--color-heart);
    -webkit-text-stroke: 0px;
    transform: scale(1.2);
}

.favorites__block,
.recipes__block {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.favorites__btn,
.recipes__btn {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
}

.favorites__icon,
.recipes__icon {
    font-size: 55px;
}

.favorites__notification,
.results {
    font-size: 30px;
    font-weight: 500;
}

.favorites__pagination,
.recipes__pagination {
    margin-top: 20px;
}

.pagination .arrow {
    display: none;
}

.pagination .page-link {
    font-size: 25px;
    padding: 5px 15px;
    color: var(--color-black);
}

.pagination .page-item.active .page-link {
    background-color:var(--color-btn);
    color: var(--color-black);
    border-color: var(--color-btn);
}

.footer {
    width: 100%;
    height: 72px;
    background-color: var(--color-header);
    padding-inline: 90px;
}

.footer__main-icon {
    width: 218.5px;
}

.footer__text {
    font-size: 24px;
    color: var(--color-header-text);
}

.footer__social-networks {
    width: 181px;
}